@font-face {
  font-family: Gotham;
  src: url('./assets/fonts/Gotham-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: Gotham;
  src: url('./assets/fonts/Gotham-Book.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: Gotham;
  src: url('./assets/fonts/Gotham-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: Gotham;
  src: url('./assets/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
}

a,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
label,
li,
input,
p,
span,
textarea {
  font-family: Gotham;
  line-height: 1.5;
}

a,
article,
aside,
body,
button,
canvas,
caption,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
input,
label,
li,
nav,
ol,
p,
section,
span,
table,
textarea,
tbody,
td,
th,
tr,
ul {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}

ol,
ul {
  list-style: none;
}

path {
  fill: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
}
